* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 28px;
}

ul {
  list-style-type: none;
}

.question-card {
  display: flex;
  border-color: black;
  width: 2px;
}

.question-card--title {
  background-color: blue;
}
